.text {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #554D4D;
    width: 462px;
    height: 186px;
}

.fstColumn {
    margin-left: 137px;
    margin-top: 121px;
}

.sndColumn {
   background-image: url("/public/assets/abstract.svg");
    width: 480px;
    height: 511px;
    margin-left: 180px;
}

.container {
    display: flex;
    justify-content: center;
}

button.wallet:hover{
    background: #8f3816;
    border: none;
}

button.help:hover{
    color: #8f3816;
    border: solid 1px #8f3816;
}