.carousel_container{
    position: relative;
    display: flex;
    height: 400px;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.carousel .slide {
    display: flex;
    justify-content: space-around;
}

.carousel img {
    flex: 1;
    max-width: 30%;
    height: 400px;
    object-fit: cover;
    margin: 0 10px; /* Add some spacing between images */
}
.carousel_container p{
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 700;
    line-height: 62px;
    color: #554D4D !important;
}

.carousel .control-next.control-arrow:before{
    position: absolute;
    top: 7px;
    top: 7px;
    left: 7px;
}
.carousel .control-prev.control-arrow:before {
    position: absolute;
    top: 7px;
    left: 5px;
}

 .carousel.carousel-slider .control-arrow {
    background-color: black !important;
    height: 30px;
    top: 50%!important;
    transform: translateY(-50%);
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
    margin-top: 13%;
    border-radius: 50%;
    width: 30px;
}
.carousel.carousel-slider {
      margin: 0 auto !important;
  }