.section-creators {

}

.counter-wrap {
    width: 100%;
    height: 197px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.count:first-child {
    margin-right: 90px;
}

.count .num {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    color: #000000;
    margin: 0;
}

.count .num-title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    color: #000000;
}

.section-creators .text {
    font-family: 'Nunito';
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.section-creators .text h1{
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    color: #554D4D;
    margin-bottom: 10px;
    text-shadow: none;
}

.section-creators .text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: #AAAAAA;
    margin: 0;
    text-shadow: none;
}

.creators-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.creators-wrap .row1 .img-creator {
    background: url("/public/assets/patron1.jpg") no-repeat center;
    width: 244px;
    height: 244px;
    border-radius: 10px;
}

.creators-wrap .row1 .img-creator:not(:last-child),
.creators-wrap .row2 .img-creator:not(:last-child) {
    margin-right: 10px;
}

.row1, .row2 {
    display: flex;
}

.row1 {
    margin-bottom: 10px;
}

.creators-wrap .row2 .img-creator {
    width: 244px;
    height: 244px;
    border-radius: 10px;
    background-position-y: -90px;
}