
.logo {
    display: flex;
    flex-direction: row;
}
.female {
    background-image: url("/public/assets/female.svg");
    background-repeat: no-repeat;
    height: 76px;
    width: 114px;
    margin: 0 0 0 88px ;
}

.name {
    font-size: 52px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    line-height: 62px;
    margin: 6px 0 0 -5.52px;
}

.header {
display: flex;
}

button.help:hover{
    color: #8f3816;
    border: solid 1px #8f3816;
}